.archive__item-title a:hover {
    color: darkgrey;
    outline: 0;
}

.archive__item-title a:active {
    color: darkgrey;
    outline: 0;
}

.archive__item-title a:visited {
    color: darkgrey;
}

.archive__item-title a {
    color: darksalmon;
}

.makestar-logo {
  height: 22px;
}
